# 编译产物
*.exe
network-proxy-amd64.exe
network-proxy-386.exe

# 下载产物目录
dist/
dist-v2/
dist-v3/
release-new/
network-proxy-package/
network-proxy-package-new/

# IDE
.idea/
.vscode/
*.swp
*.swo

# 系统文件
Thumbs.db
.DS_Store

# 临时文件
*.tmp
*.log